<li>
	{{name}}

	<button class="eat-burger" data-id="{{id}}" data-neweaten="{{eaten}}">
		{{#if eaten}}EAT THAT BURGER!{{else}}ORDER AGAIN!{{/if}}
	</button>

		<button class="delete-burger" data-id="{{id}}">
		X
	</button>

</li>